click==8.0.4
collections2
datetime==4.4.0
deta
kaleido
matplotlib
more-itertools==8.10.0
mysql-connector-python
pandas
pip
plotly
snscrape
streamlit
streamlit-aggrid
streamlit-option-menu
textblob
wordcloud
pytest